#contenedor{
    display:flex;
    gap: 60px 30px;
    flex-direction: column;
    justify-content: space-evenly;
    border-color: black;

}

.cajas{
    align-items: baseline;
    flex-direction: row;
    padding: 40px;
     width: 100px;
    height: 75px;
    text-align: center;
}

#Rojo{
    background-color: red;
    flex-direction: row;
    order: 2;
}

#Verde{
    background-color: rgb(11, 138, 11);
    flex-direction: row;
    order: 3;
}

#Azul{
    background-color: blue;
    flex-direction: row;
    order: 1;
}

h1{
    border-color: black;
    border-style: double;
    text-align: center;
}

h2{
    text-align: center;
}
