#caja{
    display: flex;
    flex-direction: row;
}

.columna{
    display: flex;
    flex-direction: column;
}

@media screen and (orientation:landscape) {
    .portafoto{
    max-width: 1520px;
    max-height: 1080px; 
    }      
}

@media screen and (orientation:portrait){
    .portafoto{
        max-width: px;
        max-height: px; 
        }    
}

.laFoto{
    width: 20%;
    height: 20%;
    object-fit: cover;
}

.portafoto{
    width: 10vw;
    height: 10vh;
    background-color: rgb(0, 0, 0);
    display: block;
}

#fotoinferiorizquierda{
    transform: scaley(-1);
}

#fotosuperiorderecha{
    transform: scalex(-1);
}

#fotoinferiorderecha{
    transform: scale(-1);
}