.body{
    background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1304/2013_cherry_blossom_season_in_Japan_photography_Wallpaper_12_1366x768.jpg) 
      
}

.div{
    background-color: rgba(255, 255, 255, 0.692);
    display: flex;
    justify-content: flex-start;
    margin: 0%;
    padding: 0%;
}
h1{
    
    width: 420px;
    height: 30px;
    padding: 10px; 
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.692);
    border-style:double;
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
    border-color: rgba(0, 0, 0, 0.555);
            
}

.h1{
    
    width: 420px;
    height: 30px;
    padding: 10px; 
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.692);
    border-style:double;
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
    border-color: rgba(0, 0, 0, 0.555);
    text-align: center;
}

h3{
    width:70%;
    height:10%;
    background-color:rgba(255, 255, 255, 0.692);
    border-style:double;
    justify-content: center;
    font-style: italic;
    border-color: rgba(0, 0, 0, 0.555);
    text-align: center;
            
}

#foto{
    width: 170px; 
    height: 160px;
    background-size: cover;
    border-radius: 40%;
    border-image-slice : 100%;
}

.section{
    height: auto;
    width: auto;
    padding: 20px;  
    margin: 15px;
    float: left;
    background-color: rgba(128, 128, 128, 0.425);
}

#article{
    padding: 20px;  
    margin: 15px;
    margin-left: 0;
    height: auto; 
    width: auto;
    float: right;
    
    background-color: rgba(236, 216, 191, 0.418);
    display: grid;
}


.footer{
    display: flex;
    gap: 60px 10px;
    flex-wrap: nowrap;
}
/* #caja{
    align-items: center;
    padding: 10px; 
    float: left; 
    width: 25%; 
    text-align: justify;
    margin-left: 40px;
    background-color: rgba(255, 255, 255, 0.541);
} */