* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    object-fit: cover;
    object-position: 50% bottom;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5 ease;
    z-index: 0;

}

div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5 ease;
    background-color: transparent;
}

p {
    text-align: center;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5 ease;
    background-color: transparent;
    color: aqua;
    text-shadow: 1px 1px black;
    font-size: calc(1.2em + 1vw + 1vh);
    font-weight: bold;
    z-index: 2;
}

p:nth-child(3) {
    color: blue;
    font-style: italic;
}

div:active,
div:hover {
    opacity: 1;
    background-color: beige;

}

@media all and (orientation:landscape) {

    img,
    div {
        width: 70vh;
        margin-left: calc(50vw - 35 vh);

    }
}